/* custom site styles */
h1, h2, h3 {
  font-family: Verdana, sans-serif; color: #000099; text-align: left;
}
h1 {
  font-size: 1.4em; margin-top: 2em;
}
h2 {
  font-size: 1.2em;
}
h3 {
  font-size: 1em; margin-bottom: 0.5em;
}
pre { margin-top: 1em; margin-bottom: 1em; }
.figure { 
  margin-top: 2em; margin-bottom: 2em; text-align:center;
}
table {
  margin-bottom: 1.25em;
}
/* Asciidoctor styles */
table.spread {
  width: 100%;
}
table.tableblock {
  max-width: 100%; border-collapse: separate;
}
table.frame-all {
  border-width: 1px;
}
table.tableblock, th.tableblock, td.tableblock {
  border: 0 solid #dedede;
}
table.grid-all th.tableblock, table.grid-all td.tableblock {
  border-width: 0 1px 1px 0;
}
.sidebarblock {
  border-style: solid;
  border-width: 1px;
  border-color: #e0e0dc;
  margin-bottom: 1.25em;
  padding: 1.25em;
  background: #f8f8f7;
  border-radius: 4px;
}
.sidebarblock > :first-child {
  margin-top: 0;
}
.sidebarblock > :last-child {
  margin-bottom: 0;
}
.sidebarblock > .content > .title {
  color: #7a2518;
  margin-top: 0;
  text-align: center;
}
.admonitionblock > table {
  border-collapse: separate;
  border: 0;
  background: none;
  width: 100%;
}
.admonitionblock > table td.content {
  padding-left: 1.125em;
  padding-right: 1.25em;
  border-left: 1px solid #ddddd8;
  color: rgba(0, 0, 0, 0.6);
}
.admonitionblock > table td.content > :last-child > :last-child {
  margin-bottom: 0;
}
