<config>
	<home></home>
	<usersdir>C:\java_projects\te\WEB-INF\users</usersdir>
	<sources id="wms">
		<source>C:\java_projects\te\wms</source>
	</sources>
<!--
	<sources id="wfs">
		<source>C:\java_projects\te\wfs</source>
	</sources>
	<sources id="wcs">
		<source>C:\java_projects\te\wcs</source>
	</sources>
-->
</config>
	