# Kickstart file for automated installation
# See https://access.redhat.com/documentation/en-US/Red_Hat_Enterprise_Linux/7/html/Installation_Guide/chap-kickstart-installations.html
install
text
# Install from first optical drive
cdrom
auth --enableshadow --passalgo=sha512
firstboot --enable
keyboard us
lang en_US.UTF-8
reboot

timezone US/Pacific --isUtc --ntpservers=0.centos.pool.ntp.org,1.centos.pool.ntp.org,2.centos.pool.ntp.org,3.centos.pool.ntp.org
rootpw --plaintext MimsyBorogoves
group --name=cite
user --groups=wheel,cite --name=teamengine --gecos="TEAM Engine" --password=teamengine --plaintext

# Network information
network  --bootproto=dhcp --device=enp0s3 --ipv6=auto --activate
network  --hostname=teamengine1.test

# System services
services --enabled="sshd,chronyd" --disabled="postfix"

# Bootloader configuration
ignoredisk --only-use=sda
bootloader --append=" crashkernel=auto" --location=mbr --boot-drive=sda
autopart --type=lvm
clearpart --none --initlabel

%addon com_redhat_kdump --enable --reserve-mb=auto
%end

%packages
@^minimal
@core
chrony
kexec-tools
%end
