# Eclipse config
.project
.classpath
.settings/

# IntelliJ IDEA config
.idea
*.iml

# Maven output
target/
pom.xml.releaseBackup
release.properties

# Packer output
packer_cache/

# macOS

.DS_Store
