<?xml version="1.0" encoding="UTF-8"?>
<!-- Add this entry to TE_BASE/config.xml (//organization/standard) -->
<organization>
  <name>OGC</name>
  <standard>
    <name>Catalogue Service - Web (CSW)</name>
    <version>
      <name>2.0.2</name>
      <suite>
        <namespace-uri>http://www.opengis.net/cat/csw/2.0.2</namespace-uri>
        <prefix>csw</prefix>
        <local-name>csw-2.0.2-compliance-suite</local-name>
        <title>CSW 2.0.2 Conformance Test Suite</title>
        <description>Checks catalogue implementations for conformance to the CSW part of OGC 07-006r1.</description>
      </suite>
      <revision>
        <name>r11</name>
        <sources>
          <source>csw/2.0.2/src</source>
        </sources>
        <resources>csw/2.0.2/resources</resources>
        <webdir>csw/2.0.2/web</webdir>
      </revision>
    </version>
  </standard>
</organization>
