<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
                      http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

  <display-name>TEAM Engine Test Harness</display-name>
  <description>
  Provides a web interface for executing test suites and viewing test results.
  </description>

  <context-param>
    <description xml:lang="en">Location of main configuration file.</description>
    <param-name>teConfigFile</param-name>
    <param-value>\${TE_BASE}\${file.separator}config.xml</param-value>
  </context-param>
  <context-param>
    <param-name>appVersion</param-name>
    <param-value>${project.version}</param-value>
  </context-param>

  <servlet>
    <servlet-name>test</servlet-name>
    <servlet-class>com.occamlab.te.web.TestServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>monitor</servlet-name>
    <servlet-class>com.occamlab.te.web.MonitorServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>registrationHandler</servlet-name>
    <servlet-class>com.occamlab.te.web.RegistrationHandlerServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>logout</servlet-name>
    <servlet-class>com.occamlab.te.web.LogoutServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>deleteSession</servlet-name>
    <servlet-class>com.occamlab.te.web.DeleteSessionServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>renameSession</servlet-name>
    <servlet-class>com.occamlab.te.web.RenameSessionServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>downloadLog</servlet-name>
    <servlet-class>com.occamlab.te.web.DownloadLogServlet</servlet-class>
  </servlet>	
  <servlet>
    <servlet-name>prettyPrintLogs</servlet-name>
    <servlet-class>com.occamlab.te.web.PrettyPrintLogsServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>emailLog</servlet-name>
    <servlet-class>com.occamlab.te.web.EmailLogServlet</servlet-class>
    <init-param>
      <description>SMTP Server</description>
      <param-name>mail.smtp.host</param-name>
      <param-value>smtpserver.example.com</param-value>
    </init-param>
    <init-param>
      <description>SMTP UserId</description>
      <param-name>mail.smtp.userid</param-name>
      <param-value>userid</param-value>
    </init-param>
    <init-param>
      <description>SMTP Password</description>
      <param-name>mail.smtp.passwd</param-name>
      <param-value>password</param-value>
    </init-param>
    <init-param>
      <description>Mail To Address</description>
      <param-name>mail.to</param-name>
      <param-value>approver@example.com</param-value>
    </init-param>
  </servlet>	
  <servlet>
    <servlet-name>userProfile</servlet-name>
    <servlet-class>com.occamlab.te.web.UserProfileServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>complianceTesting</servlet-name>
    <servlet-class>com.occamlab.te.web.ComplianceTestingServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>TestSuiteController</servlet-name>
    <servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
    <init-param>
      <description>http://jersey.java.net/nonav/apidocs/latest/jersey/com/sun/jersey/spi/container/servlet/ServletContainer.html</description>
      <param-name>javax.ws.rs.Application</param-name>
      <param-value>com.occamlab.te.spi.jaxrs.ApplicationComponents</param-value>
    </init-param>
    <init-param>
      <description>http://jersey.java.net/nonav/apidocs/latest/jersey/com/sun/jersey/api/core/ResourceConfig.html#FEATURE_REDIRECT</description>
      <param-name>com.sun.jersey.config.feature.Redirect</param-name>
      <param-value>false</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>

  <listener id="FileCleanup">
    <description xml:lang="en">
    Ensures that the file reaper thread (which deletes temp files) is terminated
    when the web application is shut down.
    </description>
    <listener-class>org.apache.commons.fileupload.servlet.FileCleanerCleanup</listener-class>
  </listener>

  <servlet-mapping>
    <servlet-name>TestSuiteController</servlet-name>
    <url-pattern>/rest/*</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>test</servlet-name>
    <url-pattern>/test</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>monitor</servlet-name>
    <url-pattern>/monitor/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>registrationHandler</servlet-name>
    <url-pattern>/registrationHandler</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>logout</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>deleteSession</servlet-name>
    <url-pattern>/deleteSession</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>renameSession</servlet-name>
    <url-pattern>/renameSession</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>downloadLog</servlet-name>
    <url-pattern>/downloadLog</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>prettyPrintLogs</servlet-name>
    <url-pattern>/prettyPrintLogs</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>emailLog</servlet-name>
    <url-pattern>/emailLog</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>userProfile</servlet-name>
    <url-pattern>/userProfile</url-pattern>
  </servlet-mapping>

  <security-constraint>
    <web-resource-collection>
      <web-resource-name>user-specific</web-resource-name>
      <url-pattern>/deleteSession</url-pattern>
      <url-pattern>/renameSession</url-pattern>
      <url-pattern>/complianceTesting</url-pattern>
      <url-pattern>/logout</url-pattern>
      <url-pattern>/test</url-pattern>
      <url-pattern>/createSession.jsp</url-pattern>
      <url-pattern>/sessionDeleted.jsp</url-pattern>
      <url-pattern>/test.jsp</url-pattern>
      <url-pattern>/viewSessionLog.jsp</url-pattern>
      <url-pattern>/viewSessions.jsp</url-pattern>
      <url-pattern>/viewTest.jsp</url-pattern>
      <url-pattern>/viewTestLog.jsp</url-pattern>
      <url-pattern>/emailLog.jsp</url-pattern>
      <url-pattern>/emailSent.jsp</url-pattern>
      <url-pattern>/userProfile.jsp</url-pattern>
      <url-pattern>/startTesting.jsp</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>user</role-name>
    </auth-constraint>
  </security-constraint>
  <login-config>
    <auth-method>FORM</auth-method>
    <form-login-config>
      <form-login-page>/login.jsp</form-login-page>
      <form-error-page>/login.jsp?error=true</form-error-page>
    </form-login-config>
  </login-config>
  <security-role>
    <role-name>user</role-name>
  </security-role>

  <resource-ref>
    <description>DataSource factory to access EPSG database.</description>
    <res-ref-name>jdbc/EPSG</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
  </resource-ref>
</web-app>
