/*  Styling rules for main page */
body {
  color: black;
  background: white;
  font-family: Georgia, serif;
}
h1, h2, h3 {
  font-family: Verdana, sans-serif;
  color: #000099;
  text-align: left;
}
h1 { font-size: 1.50em; margin-top: 2em; }
h2 { font-size: 1.25em; }
h3 { font-size: 1em; margin-top: 2em; margin-bottom: 0.5em; }
table {
  border: 1px solid black;
  margin-top: 0.5em;
  margin-bottom: 1em;
  width: 75%;
  border-collapse: collapse;
}
caption { 
  font-weight: bold; 
  text-align: left; 
}
thead {text-align: left; background: #eeeeee;color: #000099;}
td, th { padding: 0.25em;}
pre { background: AliceBlue; }
a:link img, a:visited img { border-style: none }
hr { border: 1px solid #000099; }
