<?xml version="1.0" encoding="UTF-8"?>
<!-- Add this entry to TE_BASE/config.xml (//organization/standard) -->
<organization>
  <name>OGC</name>
  <standard>
    <name>Sensor Observation Service (SOS)</name>
    <version>
      <name>1.0.0</name>
      <suite>
        <namespace-uri>http://www.opengis.net/sos/1.0</namespace-uri>
        <prefix>sos</prefix>
        <local-name>suite</local-name>
        <title>SOS 1.0 Conformance Test Suite</title>
        <description>Checks service implementations for conformance to OGC Sensor Observation Service (SOS) 1.0</description>
      </suite>
      <revision>
        <name>1.13</name>
        <sources>
          <source>sos/1.0.0/ctl</source>
        </sources>
        <resources>sos/1.0.0/resources</resources>
        <webdir>sos/1.0.0/site</webdir>
      </revision>
    </version>
  </standard>
</organization>
