<config>
  <home>http://localhost/teamengine</home>
  <!-- WARNING: create the directory ${catalina.base}/users -->
  <usersdir>/users</usersdir>
  <!-- a source location may be specified as: 
  (a) an absolute file system path; 
  (b) a path relative to that specified by the ${catalina.base} system property; 
  (c) a classpath location (relative to WEB-INF/classes). 
  -->
  <!--
  <sources id="foo-i.j.k">
    <source>webapps/teamengine/WEB-INF/scripts/foo-i.j.k/</source>
  </sources>
  -->
</config>