<Context>
  <Listener className="org.apache.catalina.mbeans.ServerLifecycleListener"
            descriptors="/com/occamlab/te/realm/mbean-descriptor.xml" />
  <Realm className="com.occamlab.te.realm.UserFilesRealm"
         root="${catalina.base}/users"/>
</Context>