<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.2//EN"
    "http://java.sun.com/j2ee/dtds/web-app_2_2.dtd">
<web-app>
	<servlet>
		<servlet-name>test</servlet-name>
		<servlet-class>com.occamlab.te.web.TestServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>registrationHandler</servlet-name>
		<servlet-class>com.occamlab.te.web.RegistrationHandlerServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>logout</servlet-name>
		<servlet-class>com.occamlab.te.web.LogoutServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>deleteSession</servlet-name>
		<servlet-class>com.occamlab.te.web.DeleteSessionServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>CallbackHandlerServlet</servlet-name>
		<servlet-class>net.sf.teamengine.async.CallbackHandlerServlet</servlet-class>
		<!-- XPointer expressions, which the CallbackHandler can use to determine where to store each response -->
		<init-param>
			<param-name>HarvestResponse</param-name>
			<param-value>xmlns(csw=http://www.opengis.net/cat/csw/2.0.2)xpointer(//csw:TransactionResponse/csw:TransactionSummary/@requestId)</param-value>
		</init-param>
		<init-param>
			<param-name>GetRecordsResponse</param-name>
			<param-value>xmlns(csw=http://www.opengis.net/cat/csw/2.0.2)xpointer(//csw:RequestId)</param-value>
		</init-param>
	</servlet>
	<servlet>
		<servlet-name>renameSession</servlet-name>
		<servlet-class>com.occamlab.te.web.RenameSessionServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>downloadLog</servlet-name>
		<servlet-class>com.occamlab.te.web.DownloadLogServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>emailLog</servlet-name>
		<servlet-class>com.occamlab.te.web.EmailLogServlet</servlet-class>
		<init-param>
			<description>SMTP Server</description>
			<param-name>mail.smtp.host</param-name>
			<param-value>smtpserver.ogc.com</param-value>
		</init-param>
		<init-param>
			<description>SMTP UserId</description>
			<param-name>mail.smtp.userid</param-name>
			<param-value>userid</param-value>
		</init-param>
		<init-param>
			<description>SMTP Password</description>
			<param-name>mail.smtp.passwd</param-name>
			<param-value>password</param-value>
		</init-param>
		<init-param>
			<description>Mail To Address</description>
			<param-name>mail.to</param-name>
			<param-value>approver@ogc.com</param-value>
		</init-param>
	</servlet>	
	<servlet>
		<servlet-name>userProfile</servlet-name>
		<servlet-class>com.occamlab.te.web.UserProfileServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>complianceTesting</servlet-name>
		<servlet-class>com.occamlab.te.web.ComplianceTestingServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CallbackHandlerServlet</servlet-name>
		<url-pattern>/callback/http</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>test</servlet-name>
		<url-pattern>/test</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>registrationHandler</servlet-name>
		<url-pattern>/registrationHandler</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>logout</servlet-name>
		<url-pattern>/logout</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>deleteSession</servlet-name>
		<url-pattern>/deleteSession</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>renameSession</servlet-name>
		<url-pattern>/renameSession</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>downloadLog</servlet-name>
		<url-pattern>/downloadLog</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>emailLog</servlet-name>
		<url-pattern>/emailLog</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>userProfile</servlet-name>
		<url-pattern>/userProfile</url-pattern>
	</servlet-mapping>
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>user-specific</web-resource-name>
			<url-pattern>/deleteSession</url-pattern>
			<url-pattern>/renameSession</url-pattern>
			<url-pattern>/complianceTesting</url-pattern>
			<url-pattern>/logout</url-pattern>
			<url-pattern>/test</url-pattern>
			<url-pattern>/createSession.jsp</url-pattern>
			<url-pattern>/sessionDeleted.jsp</url-pattern>
			<url-pattern>/test.jsp</url-pattern>
			<url-pattern>/viewSessionLog.jsp</url-pattern>
			<url-pattern>/viewSessions.jsp</url-pattern>
			<url-pattern>/viewTest.jsp</url-pattern>
			<url-pattern>/viewTestLog.jsp</url-pattern>
			<url-pattern>/emailLog.jsp</url-pattern>
			<url-pattern>/emailSent.jsp</url-pattern>
			<url-pattern>/userProfile.jsp</url-pattern>
			<url-pattern>/startTesting.jsp</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>user</role-name>
		</auth-constraint>
	</security-constraint>
	<login-config>
		<auth-method>FORM</auth-method>
		<form-login-config>
			<form-login-page>/login.jsp</form-login-page>
			<form-error-page>/login.jsp?error=true</form-error-page>
		</form-login-config>
	</login-config>
	<security-role>
		<role-name>user</role-name>
	</security-role>
</web-app>
