<config>
	<home>http://localhost/teamengine</home>
	<usersdir>webapps/teamengine/WEB-INF/users</usersdir>
	<sources id="wms-1.3.0">
		<source>webapps/teamengine/WEB-INF/scripts/wms-1.3.0</source>
	</sources>
<!--
	<sources id="wfs-1.1.0">
		<source>webapps/teamengine/WEB-INF/scripts/wfs-1.1.0</source>
	</sources>
-->
</config>
	