<?xml version="1.0" encoding="UTF-8"?>
<!-- Unpack the *-ctl-scripts.zip archive in the TE_BASE/scripts directory -->
<!-- Add this entry to TE_BASE/config.xml (//organization/standard) -->
<organization>
  <name>OGC</name>
  <standard>
    <name>Catalogue Service - Web (CSW)</name>
    <version>
      <name>3.0.0</name>
      <suite>
        <namespace-uri>http://www.opengis.net/cite/cat30</namespace-uri>
        <prefix>tns</prefix>
        <local-name>ets-cat30-0.4</local-name>
        <title>Test suite ets-cat30</title>
        <description>Assesses conformance of the IUT with respect to OGC 12-176r5 
        (OGC Catalogue Services 3.0 Specification - HTTP Protocol Binding).</description>
      </suite>
      <revision>
        <name>0.4</name>
        <status>Beta</status>
        <sources>
          <source>cat30/3.0.0/ctl</source>
        </sources>
        <webdir>cat30/3.0.0/site</webdir>
      </revision>
    </version>
  </standard>
</organization>
