/*  Styling rules for main page */
@import url(http://fonts.googleapis.com/css?family=Open+Sans);
@import url(testimonial.css);

body { 
  font-family: 'Open Sans', sans-serif;
  color: #666;
}

/* items*/
h1,
h2,
h3{
    font-family:Verdana, sans-serif;
   /* text-align:left;*/
    margin:.8em 0 .2em 0;
    color: #00008B;
}

/* for buttons */
span.box{
    font-family:Verdana, sans-serif;
    font-size:0.8em;
    margin:0.2em;
    padding:0.4em;
    color:White;
    background-color:SteelBlue;
}

/* for quotes*/
/** blockquote styles  from http://jsfiddle.net/_jro/s9W9Q/**/



/* STRUCTURE */

#pagewrap {
	padding: 5px;
	width: 960px;
	margin: 20px auto;
}
header {
	height: 100px;
	padding: 0 15px;
}
#content {
	width: 290px;
	float: left;
	padding: 5px 15px;
}

#middle {
	width: 294px; /* Account for margins + border values */
	float: left;
	padding: 5px 15px;
	margin: 0px 5px 5px 5px;
}


#sidebar {
	width: 270px;
	padding: 5px 15px;
	float: left;
}

#noColumn{
  clear: both;
  width: 960px;
  float: left;
  padding: 5px 15px;
}
footer {
	clear: both;
	padding: 5px 15px;
	font-size:smaller
}

/************************************************************************************
MEDIA QUERIES
*************************************************************************************/
/* for 980px or less */
@media screen and (max-width: 980px) {
	
	#pagewrap {
		width: 94%;
	}
	#content {
		width: 41%;
		padding: 1% 4%;
	}
	#middle {
		width: 41%;
		padding: 1% 4%;
		margin: 0px 0px 5px 5px;
		float: right;
	}
	
	#sidebar {
		clear: both;
		padding: 1% 4%;
		width: auto;
		float: none;

	}

	header, footer {
		padding: 1% 4%;
	}
}

table{
    border:1px solid black;
    margin-top:0.5em;
    margin-bottom:1em;
    width:75%;
    border-collapse:collapse;
}
caption{
    font-weight:bold;
    text-align:left;
}
thead{
    text-align:left;
    background:#eeeeee;
    color:#000099;
}
td,
th{
    padding:0.25em;
}

/* for 700px or less */
@media screen and (max-width: 600px) {

	#content {
		width: auto;
		float: none;
	}
	
	#middle {
		width: auto;
		float: none;
		margin-left: 0px;
	}
	
	#sidebar {
		width: auto;
		float: none;
	}

}

/* for 480px or less */
@media screen and (max-width: 480px) {

	header {
		height: auto;
	}
	h1 {
		font-size: 2em;
	}
	#sidebar {
		display: none;
	}

}


#content {
    background: white;
	/* background: #f8f8f8; */
}
#sidebar {
	background: white;
}
header, #content, #middle, #sidebar {
	margin-bottom: 5px;
}

