# Systemd configuration file for Apache Tomcat run as a daemon using Jsvc
# /etc/systemd/system/tomcat-jsvc.service
[Unit]
Description=Apache Tomcat Servlet Container
After=network.target

[Service]
Type=forking
PIDFile=/run/tomcat-jsvc.pid
EnvironmentFile=/etc/opt/apache.org/tomcat.env
Environment=JAVA_HOME=/opt/jdk8
Environment=CATALINA_HOME=/opt/apache.org/tomcat7
Environment=CATALINA_PID=/run/tomcat-jsvc.pid

ExecStart=/bin/jsvc \
    -server \
    -user tomcat \
    -Dcatalina.home=${CATALINA_HOME} \
    -Dcatalina.base=${CATALINA_BASE} \
    -Djava.io.tmpdir=${CATALINA_BASE}/temp \
    -cp ${CATALINA_HOME}/bin/commons-daemon.jar:${CATALINA_HOME}/bin/bootstrap.jar:${CATALINA_HOME}/bin/tomcat-juli.jar \
    -java-home ${JAVA_HOME} \
    -pidfile ${CATALINA_PID} \
    -outfile ${CATALINA_BASE}/logs/catalina.out \
    -errfile '&1' \
    $CATALINA_OPTS \
    org.apache.catalina.startup.Bootstrap start

ExecStop=/bin/jsvc \
    -pidfile ${CATALINA_PID} \
    -stop org.apache.catalina.startup.Bootstrap stop

[Install]
WantedBy=multi-user.target
