<?xml version="1.0" encoding="UTF-8"?>
<config>
  <scripts>
    <!-- Sample suite: TE_BASE/scripts/note.ctl -->
    <organization>
      <name>Example.net</name>
      <standard>
        <name>XML Note</name>
        <version>
          <name>1.0</name>
          <suite>
            <namespace-uri>http://example.net/note-test</namespace-uri>
            <prefix>note</prefix>
            <local-name>note-test</local-name>
            <title>Sample test suite</title>
            <description>Checks the content of a note.</description>
          </suite>
          <revision>
            <name>r1</name>
            <status>Alpha</status>
            <sources>
              <source>note.ctl</source>
            </sources>
          </revision>
        </version>
      </standard>
    </organization>
    <organization>
      <name>OGC</name>
      <!-- Insert OGC test suites -->
    </organization>
  </scripts>
</config>
