<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
  <head>
    <title>Source Code</title>
  </head>
  <body>
    <h1>Source Code</h1>
    <p> The TEAM Engine source code is available at Sourceforge: <a href="https://sourceforge.net/p/teamengine/code/">https://sourceforge.net/p/teamengine/code/</a>.</p>
    
    <p>
    The trunk contains the latest running code. Under tags is located the different tagged revision. 
    The coode under branches is code under development not stable.
    </p>
    
    <p>To checkout the source code via SVN use the following URL:
      <a href="https://svn.code.sf.net/p/teamengine/code" target="_blank">https://svn.code.sf.net/p/teamengine/code</a> 
    </p>
    
    To checkout the trunk:
    <pre>
    svn checkout https://svn.code.sf.net/p/teamengine/code/trunk
    </pre>
    
    To cheout a release:
    <pre>
    svn checkout https://svn.code.sf.net/p/teamengine/code/tags/4.0-beta1
    </pre>
    
   <p>
   The following resources are available at trunk: 
    
   <ul>
 
   <li>src: Documentation</li>
   <li>teamengine-core: Main CTL script processor</li>
   <li>teamengine-realm: Custom Tomcat user realm</li>
   <li>teamengine-resources: Shared stylesheets, schemas, etc.</li>
   <li>teamengine-spi: Extensibility framework and REST API</li>
   <li>teamengine-web: Web interface</li>
   <li>License.txt: MPL V 2.0</li>
   <li>README.txt - basic instructions</li>
   <li>Pom.xml: Main configuration file for MAVEN build</li>
   </ul>

    </p>
    
     
</body>
</html>
